/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* NETCORP =============================================================== */

.wrap-homepage {
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
}

.wrap-dashboard {
	max-width: 1800px;
	width: 100%;
	margin: 0 auto
}

/* html {
	height: 100%;
} */

body {
	font-family: 'Hammersmith One', sans-serif;
	font-weight: 400;
	color: #101413;
	background: linear-gradient(55deg, #fff 50%, #fdcd3b 50%);
	min-height: 100vh;
}

/* #content-body {
	min-height: 100vh; 
} */

img {
	width: 45%;
}

button {
	cursor: pointer;
	font-family: 'Hammersmith One', sans-serif;
	border: none;
}

button:focus {
	border: none;
	outline: none;
}

/* HEADER ================================================================*/

.far {
	color: #fff;
	margin-left: 10px;
	font-size: 30px;
}

.far:hover {
	color: #F5C72F;
	cursor: pointer;
}

.a {
	color: #101413;
	/* border-bottom: solid 1px #101413; */
}

h3 {
	padding-top: 10px;
	color: #101413;
	border-bottom: solid 1px #101413;
	font-size: 1.3em;
}

.li {
	padding-top: 10px;
}

a:hover {
	color: #a52a2a;
	text-decoration: none;
}

.menu {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 5px 5px 0px #F5C72F;
	padding: 12px 16px;
	z-index: 1;
	right: 30px;
	top: 40px;
	border-radius: 10px;
	background-color: #fbf0a6;
}

ul.navbar-nav a:hover {
	color: #F5C72F !important;
}

.navbar-brand {
	color: #fff !important;
}

.navbar-brand:hover {
	color: #F5C72F !important;
}

.nav-link {
	color: #fff !important;
}

.nav-link {
	margin-right: 10px;
}

.nav-link:hover {
	text-decoration: none;
	color: #F5C72F;
}

.hello {
	color: #fff;
}

.hello-user {
	color: #F5C72F;
}

/* HOMEPAGE ============================================================== */

.homepage {
	display: flex;
	justify-content: space-around;
	margin: 87px 0;
}

.content-left {
	width: 43%;
}

.homepage h1 {
	font-size: 90px;
	line-height: 1.3;
}

.homepage p {
	font-size: 24px;
	line-height: 1.4;
	margin-top: 30px;
}

.left-button {
	text-align: center;
}

.homepage-buttons {
	background-color: #fdcd3b;
	color: #101413;
	font-size: 36px;
	border-radius: 30px;
	margin-top: 85px;
	padding: 15px 70px;
	transition: .4s;
}

.homepage-buttons:hover {
	background-color: #101413;
	color: #fff;
}

/* MODAL CONNEXION-INSCRIPTION ========================================= */

#submitted-in, #submitted-co {
	background-color: #fdcd3b;
	border-color: #fdcd3b;
	color: #101413;
	text-transform: uppercase;
	transition: .3s;
}

#submitted-in:hover, #submitted-co:hover {
	color: #fff;
}

.modal-title button {
	background-color: #fff;
	font-size: 20px;
}

.modal-title {
	width: 100%;
}

.btn-modal {
	text-align: center;
}

#form-inscription {
	display: none;
}

.form-submit {
	margin-top: 40px;
}

.form-control {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid lightgrey;
	outline: none;
}

.form-control:focus {
	border-color: #F5C72F;
	box-shadow: none;
}

.form-group input[type=submit] {
	border-radius: 5px;
	border: none;
}

.modal-body {
	height: 350px;
	text-align: center;
}

#form-connexion .form-control {
	margin-bottom: 35px;
}

.custom-line {
	display: flex;
	justify-content: center;
}

.error {
	color: red;
	font-size: 13px;
}

/* FORGOT PASSWORD ========================================= */

.password-title {
	font-size: 40px;
	margin-bottom: 20px;
}

.form-pass-control {
	width: 80%;
	margin: 0 auto;
	background-color: #ececec;
}

#submitted-reset, #submitted-mdp {
	text-transform: uppercase;
	background: #a52a2a;
	color: white;
	width: 60%;
	transition: .3s;
}

#submitted-reset:hover, #submitted-mdp:hover {
	background-color: #9b2727;
}

.wrap-forgot {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

#forgot-password {
	text-align: center;
	margin: 210px 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.img-forgot, .formulaire-forgot {
	width: 50%;
}

#form-forgot {
	margin-top: 45px;
}

/* RESET PASSWORD ========================================= */

.wrap-reset {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

#reset-password {
	text-align: center;
	margin: 210px 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.img-reset, .formulaire-reset {
	width: 50%;
}

#form-reset {
	margin-top: 45px;
}

/* DASHBOARD ================================================*/

.container-dashboard {
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin: 50px auto;
}

/* FAIRE DES GENERALITES AVEC BODY LOG BODY CHART ET TITLE */

#title-dashboard {
	display: flex;
	flex-direction: column;
	width: 12%;
	background-color: #ececec;
	border-radius: 5px;
}

.color-status {
	margin-top: 25px;
}

.box-color {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px auto 0;
	width: 40%;
}

.circle-color {
	height: 12px;
	width: 12px;
	border-radius: 50%;
}

.timeout {
	background-color: red;
}

.success {
	background-color: green;
}

.body-dashboard {
	width: 87%;
	background-color: #ececec;
	border-radius: 5px;
}

#container-chart {
	width: 95%;
	margin: 45px auto;
}

#container-log {
	display: none;
	width: 95%;
	margin: 45px auto;
}

.btn-title-dashboard {
	background: none;
	width: 100%;
	padding: 10px;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
}

#btn-log {
	margin-top: 45px;
}

.fas {
	width: 30%;
}

.content-button {
	width: 70%;
	text-align: left;
}

/* LOGS ================================================================ */

table {
	background-color: #fff;
	width: 100%;
	height: 100%;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 1px 22px -12px #101413;
}

th, td {
	padding: 10px 15px;
}

th {
	background-color: #F5C72F;
	text-transform: uppercase;
}

tr:nth-child(odd) {
	background-color: #ececec;
}

.tr-good {
	color: green;
}

.tr-notgood {
	color: red;
}

/* CHARTS */

#btn-chart {
	background-color: #dfdfdf;
}

.chart-top {
	display: flex;
	justify-content: space-between;
}

.chart-bottom {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

.litte-chart {
	width: 30%;
	height: 100%;
	padding: 25px;
	/* border-radius: 30px; */
	background-color: #fff;
	box-shadow: 0 1px 22px -12px #607D8B;
}

.big-chart {
	width: 48%;
	height: 100%;
	padding: 25px;
	/* border-radius: 30px; */
	background-color: #fff;
	box-shadow: 0 1px 22px -12px #607D8B;
}

/* ERROR 404 */
.quatre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0px;
    color: #2F4858;
    font-size: 7em;
}
/* contact */
.wrap-contact{
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    font-size: .75em;
}
.container-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-contact img{
    width: 100%;
    
}



/* FOOTER ==================================================== */
footer{
    background-color: #343a40;
    
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff !important;
}

.span:hover {
	color: #F5C72F !important;
	cursor: pointer;
}

.fab {
	color: #ffffff;
	padding: 0px 5px;
}

.fa-linkedin-in:hover {
	color: #0072b1;
}

.fa-facebook-f:hover {
	color: #1778F2;
}

.fa-twitter:hover {
	color: #1DA1F2;
}

.fa-instagram {
	border-radius: 10px;
}

.fa-instagram:hover {
	color: #DD2A7B;
}

/* ABOUT US============================================== */

#abt h1 {
	font-size: 2em;
	margin: .67em 0;
	font-weight: bolder;
}

#abt section {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 60px 650px;
	padding: 15px;
	/* background-color:  #fdcd3b; */
	border: 2px solid black;
	border-radius: 50px;
	color: rgb(5, 70, 145);
}

.flexslider {
	/* background: linear-gradient(55deg, #fff 50%, #fdcd3b 50%); */
	background-color: none;
	background: rgba(5, 70, 145, 0);
}

.carousel {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	/* background-color:   #fdcd3b; */
	padding: 100px 110px;
	line-height: 20px;
	border: 4px solid black;
	border-radius: 5px;
}

#carousel ul li .content-carousel {
	border: 2px solid black;
	border-radius: 30px;
	padding: 10px;
	margin: 10px;
}

#carousel ul li .content-carousel p {
	margin: 50px 10px;
	text-align: center;
}

.flex-direction-nav a {
	line-height: 40px;
}

/* RESPONSIVE ============================================== */

@media only screen and (max-width: 1400px) {
	.homepage h1 {
		font-size: 75px;
	}
	.homepage p {
		font-size: 20px;
	}
	.homepage-buttons {
		font-size: 28px;
	}
}

@media only screen and (max-width: 1340px) {
	.btn-title-dashboard {
		font-size: 14px;
	}
}

@media only screen and (max-width: 1170px) {
	.homepage h1 {
		font-size: 60px;
	}
	.homepage p {
		font-size: 15px;
	}
	.homepage-buttons {
		font-size: 20px;
	}
}

@media only screen and (max-width: 960px) {
	.btn-title-dashboard {
		font-size: 20px;
		padding: 15px;
	}
	.container-dashboard {
		flex-direction: column;
	}
	#title-dashboard {
		flex-direction: row;
		width: 100%;
		align-items: center;
	}
	.body-dashboard {
		width: 100%;
		margin-top: 25px;
	}
	#btn-log {
		margin-top: 0;
	}
}

@media only screen and (max-width: 935px) {
	.homepage h1 {
		font-size: 45px;
	}
	.homepage-buttons {
		font-size: 15px;
	}
	.litte-chart {
		width: 100%;
		margin-top: 15px;
	}
	.big-chart {
		width: 100%;
		margin-top: 15px;
	}
	.chart-top {
		display: flex;
		flex-direction: column;
	}
	.chart-bottom {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 700px) {
	.homepage {
		display: flex;
		flex-direction: column;
	}
	.content-left, img {
		width: 80%;
		margin: auto;
	}
	img {
		margin-top: 35px;
	}
	.homepage-buttons {
		margin-top: 35px;
	}
}

@media only screen and (max-width: 600px) {

   
	.fab {
		display: none;
		min-width: 200px;
		padding: 12px 16px;
		z-index: 1;
		top: 50px;
		right: 10px;
	}
	.menu.responsive {
		position: relative;
	}
	.menu.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.menu.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.menu.responsive .dropdown {
		float: none;
	}
	.menu.responsive .dropdown-content {
		position: relative;
	}
	.menu.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}
}

@media only screen and (max-width: 400px) {
	.homepage h1 {
		font-size: 35px;
	}
	.homepage p {
		font-size: 12px;
	}
	.homepage-buttons {
		font-size: 12px;
	}
}

@media only screen and (max-width: 270px) {
	.homepage h1 {
		font-size: 25px;
	}
	.homepage p {
		font-size: 8px;
	}
	.homepage-buttons {
		font-size: 8px;
	}
}